body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#signature-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 35%;
    height: auto;
    resize: both;
    overflow: hidden;

}

#signature-pad {
    width: 100%;
    height: 100%;
}

#controls {
    display: flex;

    align-items: center;
}

#color1 {

    padding: 10px 10px;

    cursor: pointer;
}

#guardar,
#clear-button,
#rotate-clockwise,
#rotate-counterclockwise {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;

    line-height: 20px;
    font-weight: 500;
}

#color1 input[type="color"] {
    border: none;
    border-radius: auto;
}